POSTGRES_DB=catalog_db
POSTGRES_USER=catalog
POSTGRES_PASSWORD=change-me-postgres

RABBITMQ_ADMIN_USER=admin
RABBITMQ_ADMIN_PASSWORD=change-me-rabbitmq-admin
RABBITMQ_CATALOG_USER=catalog
RABBITMQ_CATALOG_PASSWORD=change-me-rabbitmq-catalog
